.center {
    width: 300px;
    height: 300px;
    left: 60%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
    position: absolute;
}

.pad {
    border: 1px solid;
    border-radius: 200px;
    background-color: lightgrey;
    box-shadow: 0px 20px 1px darkgrey, 0px 24px 0px black;
}

.butt {
    height: 100px;
    width: 100px;
    background-blend-mode: darken;
    z-index: 100;
    border: 1px hidden;
    border-radius: 50px;
}

#Left {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 28%;
    top: 36%;
}

#Right {
    height: 100px;
    width: 100px;
    top: 36%;
    left: 88%;
    position: absolute;
}

#Up {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 58%;
    top: 6%;
}

#Down {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 58%;
    top: 66%;
}

.instrument {
    width: 300px;
    height: 300px;
    left: 50%;
    top: 50%;
}

#Abutton {
    position: absolute;
    height: 250px;
    width: 250px;
    top: 75%;
    left: 25%;
    padding: 20px;
    border: 2px solid;
    border-radius: 200px;
    background-color: lightblue;
    box-shadow: 0px 10px 1px #68828a, 0px 14px 1px black;
}

#Abuttonimg {
    height: 200px;
    width: 200px;
}

#Abuttonpressedimg {
    height: 200px;
    width: 200px;
}
.noselect:focus{
    outline: none;
}
.noselect:active{
    outline: none;
}
.noselect:enabled{
    outline: none;
}
.noselect:target{
    outline: none;
}
.noselect:hover{
    outline: none;
}
.noselect:checked{
    outline: none;
}
.noselect {
    outline: none;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -webkit-user-drag: none;
}

.interface {
    position: absolute;
    border: 1px solid;
    border-radius: 50px;
    height: 500px;
    width: 750px;
    left: 5%;
    top: 20%;
    background-color: lightgreen;
    z-index: -100;
    box-shadow: 0px 16px 1px darkseagreen, 0px 20px 1px black;
}

.small{
    height:50px;
    margin-left: 10px;
    float:left;
}
.smallA{
    padding-top: 5px;
    padding-left: 5px;
    padding-right:5px;
    padding-bottom: 5px;
    height:30px;
     width: 30px;
     margin-top: 35px;
    }
.smallbox{
    min-height: 100px;
    min-width: 30px;
    padding: 10px;
    left: 7.5%;
    top: 8.6%;
    position: absolute;
    background-color: lightgreen;
    border: 1px solid;
    border-radius: 20px;
    box-shadow: -2px -2px 1px darkseagreen, -4px -4px 1px black;
display: flex;
}
.smallAcontainer{
    height:50px;
    width: 10px;
}

@keyframes failure{
0%{
    transform: translate(0px, 0px);
}
25%{
    transform: translate(20px, -100px);
}
    100%{
  transform: translate(-1000px, 1000px);  
}

}


@keyframes failure2{
    0%{
        transform: translate(0px, 0px);
    }
    25%{
        transform: translate(-50px, -100px);
    }
    100%{
      transform: translate(10px, 1000px);  
    }    
}

@keyframes failure2{
    0%{
        transform: translate(0px, 0px);
    }
    25%{
        transform: translate(50px, -100px);
    }
    100%{
      transform: translate(-30px, 1000px);  
    }
}
        
@keyframes failure3{
    0%{
        transform: translate(0px, 0px);
    }
    25%{
        transform: translate(-50px, -100px);
    }
    100%{
      transform: translate(60px, 1000px);  
    }        
}

.animated:nth-of-type(1n){
    animation-name: failure;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transition: ease;
}

.animated:nth-of-type(2n){
    animation-name:failure2;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transition: ease;
}

.animated:nth-of-type(3n){
    animation-name:failure3;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transition: ease;
}

body{
    overflow: hidden;
}

#gamemenu{
    z-index: 1;
    padding: 25px;
    height: 100px;
    width: 750px;
    position: absolute;
    border: 1px solid;
    border-radius: 50px;
    left: 5%;
    bottom: 5%;
    background-color: lightgreen;
    box-shadow: 0px 16px 1px darkseagreen, 0px 20px 1px black;
}

.area-container {
    background-color: lightgreen;
    box-shadow: 0px 16px 1px darkseagreen, 0px 20px 1px black;
}

.btn{
    height: 50px;
    width:125px;
    border-radius: 20px;
    font-weight: bold;
    margin-left: 75px;
    box-shadow: 0px 5px 1px darkseagreen, 0px 7px 1px black;
}
.emptyheart{
    background-image: url("./../media/heartempty.png");
    height: 50px;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}
.heartcontainers{
    height: 100px;
    width: 300px;
    background-size: stretch;
}
.heartfull{
    height: 50px;
    width: 50px;  
    background-image: url("./../media/heartfull.png");  
}
